<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie add</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
      </figure>
    <h1 class="titulo">Agregar Película</h1>
    <br>
    <section class="formulario">
        <form action="/movies/create" method="POST">
            <label for="title">Title </label>
            <p><input type="text" name="title">
                <% if(locals.errors && locals.errors.title) { %>
                    <p><%= errors.title.msg %> </p>
                <% } %> 
            </p>
            <label for="rating">Rating </label>
            <p><input type="number" name="rating" >
                <% if(locals.errors && locals.errors.rating) { %>
                    <p><%= errors.rating.msg %> </p>
                <% } %> 
            </p>
            <label for="awards">Awards </label>
            <p><input type="number" name="awards">
                <% if(locals.errors && locals.errors.awards) { %>
                    <p><%= errors.awards.msg %> </p>
                <% } %> 
            </p>
            <label for="release_date">Release date </label>
            <p><input type="date" name="release_date">
                <% if(locals.errors && locals.errors.release_date) { %>
                    <p><%= errors.release_date.msg %> </p>
                <% } %> 
            </p>
            <label for="length">Length </label>
            <p><input type="number" name="length">
                <% if(locals.errors && locals.errors.length) { %>
                    <p><%= errors.length.msg %> </p>
                <% } %> 
            </p>

            <br>
            <p> <button class="botonAgregar" type="submit">Agregar</button>
            
            <a  class="botonVolver" href="/movies">Listado de Películas</a></p>
        </form>
    </section>
    
</body>

</html>